body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.signup-background {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-container {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly less transparent */
    padding: 30px;
    border-radius: 30px; /* More rounded corners */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.registration-container h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 10px; /* Reduced bottom margin */
    text-align: left;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    color: #333;
    margin-bottom: 3px; /* Reduced margin-bottom */
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="tel"],
.form-group input[type="date"],
.form-group select {
    width: 100%;
    padding: 8px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 15px; /* Slightly more rounded input fields */
    box-sizing: border-box;
    display: block;
    margin-top: 3px; /* Reduced margin-top */
}

.form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.form-group input[type="submit"]:hover {
    background-color: #45a049;
}

.success-message {
    display: none;
    background-color: #d4edda;
    color: #155724;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    position: fixed; /* Fixed position */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the message */
}

.success-message a {
    color: #155724;
    text-decoration: underline;
}

.password-requirements {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.password-requirements .requirement {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.password-requirements .requirement span {
    margin-left: 5px;
}

.password-requirements .requirement.valid::before {
    content: '✔';
    color: green;
}

.password-requirements .requirement.invalid::before {
    content: '✖';
    color: red;
}
